/*Root colours for website*/
:root{
    --background:#E8EDDF;
    --container:#DAE6DD;
    --yellow:#F5CB5C;
    --blue:#75AECE;
    --black:#242423;
}

.card {
  display: flex;
  flex-direction: column;
  width: 18rem; /* move width here instead of inline */
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1; /* allows body to grow */
}

