/*Root colours for website*/
:root{
    --background:#E8EDDF;
    --container:#DAE6DD;
    --yellow:#F5CB5C;
    --blue:#75AECE;
    --black:#242423;
}

/*Header*/
header{
    background:var(--blue);
    border-bottom:1px solid rgba(0,0,0,0.1);
    display:flex;
    align-items:center;
    padding:12px 20px;
    text:var(--black);
}
.companyName{
    font-size:36px;
    font-weight:700;
    margin:0;
    color:var(--black);

}


.navbar-nav{
    color: var(--black) !important;
    font-size:px;
}
